@using Msz.ViewModels;
@model ReceiverViewModel
@{
    ViewData["Title"] = "Реестр получателей МСЗ";
}

<h2>Добавить получателя</h2>

<form class="form-horizontal" asp-action="Create" method="post">
    <partial name="EditForm"/>
    <div class="text-center msz-edit-btns">
        <input type="submit" class="btn btn-success msx-submit-btn" value="Добавить" />
        <a class="btn btn-success msz-cancel-btn" href="@(ViewData["returnUrl"])">Отменить</a>
    </div>
</form>