@model ErrorViewModel
@{
    ViewData["Title"] = "Реестр получателей МСЗ";
}

<h1 class="text-danger">Ошибка.</h1>
<h2 class="text-danger">Во время работы сайта произошла ошибка</h2>

@if (!string.IsNullOrEmpty(Model.Message))
{
    <p>
        <strong>@Model.Message</strong>
    </p>
}
