/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */

.msz-error-alert, .msz-success-alert {
    margin-top: 20px;
    text-align: center;
}

.msz-tool-panel {
    margin-top: 20px;
}

.msz-glyphicon {
    top: 2px;
    left: -2px;
}

.msz-glyphicon-only {
    top: 2px;
}

.msz-tool-panel .msz-disabled {
    cursor: not-allowed;
    filter: alpha(opacity=65);
    opacity: 0.65;
    pointer-events: none;
}

.msz-tool-panel .msz-active {
    color: #262626;
    text-decoration: none;
    background-color: #f5f5f5;
}

.msz-egisso-btn-group, .msz-search-btn-group, .msz-egisso-btn, .msz-add-receiver-btn,
.msz-cancel-search-btn, .msz-search-btn, .msz-search-btn-group, .msz-search-toggle-btn {
    width: 190px;
}

.msz-add-receiver-btn, .msz-cancel-search-btn, .msz-search-btn, .msz-search-btn-group {
    margin-left: 5pt;
}

.msz-cancel-search-btn, .msz-search-btn {
    display: none;
}

.dropdown-menu > li #msz-category-file-btn {
    visibility: hidden;
    position: absolute;
    left: -33333px;
}

.dropdown-menu > li #msz-category-file-btn ~ label:hover, .dropdown-menu > li #msz-category-file-btn ~ label:focus {
    color: #262626;
    text-decoration: none;
    background-color: #f5f5f5;
}

.dropdown-menu > li #msz-category-file-btn ~ label {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333333;
    white-space: nowrap;
    margin-bottom: 0;
    cursor: pointer;
}

.msz-receiver-table-wrapper, .msz-reason-persons-table-wrapper {
    margin-top: 20px;
}

.msz-receiver-table-wrapper table.table td, .msz-receiver-table-wrapper table.table th,
.msz-reason-persons-table-wrapper table.table td, .msz-reason-persons-table-wrapper table.table th {
    text-align: center;
    vertical-align: middle;
}

.msz-reason-persons-table-wrapper  table {
    margin-bottom: 0;
}

.msz-receiver-table-wrapper table.table td.msz-receiver-cell {
    text-align: left;
}

td.msz-receiver-cell .msz-receiver-birthdate,
td.msz-receiver-cell .msz-receiver-snils {
    color: #888;
    font-size: 85%;
}

.msz-receiver-table-control, .msz-reason-persons-table-control {
    width: 100px;
}

.msz-receiver-table-empty, .msz-reason-persons-table-empty {
    font-style: italic;
}

.msz-pagination {
    margin-top: 0;
}

.field-validation-error {
    color: #b94a48;
}

input.input-validation-error, select.input-validation-error {
    border: 1px solid #b94a48;
}

.msz-required {
    position: relative;
}

.msz-required:after {
    content: '*';
    color: #b94a48;
    position: absolute;
    right: 5px;
}

.msz-sub-header-underline {
    margin-top: 10px;
}

.msz-sub-header {
    margin-top: 30px;
    position: relative;
}

.msz-add-reason-person-btn {
    position: absolute;
    right: 0;
    bottom: 0;
}

.msz-reason-person-sub-header-text {
    display: block;
    padding: 0;
    float: none;
}

.msz-form-group {
    margin-bottom: 0;
}

.msz-edit-btns {
    margin-bottom: 20px;
    margin-top: 20px;
}

.msz-cancel-btn {
    margin-left: 5pt;
}

.msz-revision-nav-btn-group {
    margin-left: 5pt;
}

#deleteReceiverModal form {
    display: inline-block;
    margin-left: 5px;
}

.msz-pagination > .active > a,
.msz-pagination > .active > a:hover {
    background-color: #449d44;
    border-color: #449d44;
}

@media(min-width: 768px) {
}

@media(min-width: 992px) {
    .msz-cancel-search-btn, .msz-search-btn {
        display: inline-block;
    }

    .msz-form-group {
        margin-bottom: 15px;
    }

    .form-horizontal .msz-checkbox {
        padding-top: 0;
        margin-bottom: 10px;
    }

    .msz-search-btn-group {
        display: none;
    }
}
